-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: vrakeit
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(150) DEFAULT NULL,
  `content` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `details` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contracts`
--

DROP TABLE IF EXISTS `contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contracts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `reference_number` varchar(50) DEFAULT NULL,
  `party1_name` varchar(150) DEFAULT NULL,
  `party1_contact` varchar(100) DEFAULT NULL,
  `party2_name` varchar(150) DEFAULT NULL,
  `party2_contact` varchar(100) DEFAULT NULL,
  `parties` varchar(100) DEFAULT NULL,
  `amount` decimal(12,2) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `terms` text DEFAULT NULL,
  `status` varchar(30) DEFAULT 'not_settled',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contracts`
--

LOCK TABLES `contracts` WRITE;
/*!40000 ALTER TABLE `contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `good_citizen_transactions`
--

DROP TABLE IF EXISTS `good_citizen_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `good_citizen_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `type` enum('earned','spent') DEFAULT NULL,
  `points` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `good_citizen_transactions`
--

LOCK TABLES `good_citizen_transactions` WRITE;
/*!40000 ALTER TABLE `good_citizen_transactions` DISABLE KEYS */;
INSERT INTO `good_citizen_transactions` VALUES (1,6,'Admin point adjustment','spent',2052,'2026-09-06 08:45:46'),(2,6,'Admin point adjustment','earned',500,'2026-09-06 08:45:56'),(3,6,'Redeemed: FREE 20 minutes carwash @ Mang Juan Car wash','spent',50,'2026-09-06 08:48:36'),(4,6,'Good Citizen Report Approved ΓÇö Ref: VR20260906-D21FAA','earned',50,'2026-09-06 09:41:02');
/*!40000 ALTER TABLE `good_citizen_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `id_verifications`
--

DROP TABLE IF EXISTS `id_verifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `id_verifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `id_type` varchar(100) DEFAULT NULL,
  `full_name` varchar(150) DEFAULT NULL,
  `birthdate` date DEFAULT NULL,
  `address` text DEFAULT NULL,
  `id_file` varchar(255) DEFAULT NULL,
  `selfie_file` varchar(255) DEFAULT NULL,
  `source` varchar(30) DEFAULT 'portal',
  `ocr_extracted_name` varchar(200) DEFAULT NULL,
  `ocr_extracted_dob` varchar(50) DEFAULT NULL,
  `ocr_extracted_doc_number` varchar(100) DEFAULT NULL,
  `ocr_extracted_expiry` varchar(50) DEFAULT NULL,
  `ocr_confidence_score` decimal(6,4) DEFAULT NULL,
  `ocr_document_valid` tinyint(1) DEFAULT NULL,
  `ocr_name_match` tinyint(1) DEFAULT NULL,
  `ocr_dob_match` tinyint(1) DEFAULT NULL,
  `ocr_failure_reason` text DEFAULT NULL,
  `ocr_reference` varchar(50) DEFAULT NULL,
  `image_hash` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `id_verifications`
--

LOCK TABLES `id_verifications` WRITE;
/*!40000 ALTER TABLE `id_verifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `id_verifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `merchant_ads`
--

DROP TABLE IF EXISTS `merchant_ads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `merchant_ads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `merchant_id` int(11) NOT NULL,
  `title` varchar(200) NOT NULL,
  `description` text DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `merchant_id` (`merchant_id`),
  CONSTRAINT `merchant_ads_ibfk_1` FOREIGN KEY (`merchant_id`) REFERENCES `merchants` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `merchant_ads`
--

LOCK TABLES `merchant_ads` WRITE;
/*!40000 ALTER TABLE `merchant_ads` DISABLE KEYS */;
INSERT INTO `merchant_ads` VALUES (1,1,'Grand Opening 10% OFF!','Libreng change oil?? oh ulul','ad_6a9d2c70984a55.00134281.jpg',1,'2026-09-06 09:03:44'),(2,2,'Mango Graham','Try the new Mango graham','ad_6a9d2e0a47f391.70327165.jpg',1,'2026-09-06 09:10:34');
/*!40000 ALTER TABLE `merchant_ads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `merchant_rewards`
--

DROP TABLE IF EXISTS `merchant_rewards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `merchant_rewards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `merchant_id` int(11) DEFAULT NULL,
  `reward_name` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `points_required` int(11) DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `redeemed_count` int(11) DEFAULT 0,
  `expires_at` datetime DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `merchant_rewards`
--

LOCK TABLES `merchant_rewards` WRITE;
/*!40000 ALTER TABLE `merchant_rewards` DISABLE KEYS */;
INSERT INTO `merchant_rewards` VALUES (1,1,'FREE 20 minutes carwash','hotdog',50,'Fuel & Transport',2,1,'2026-09-08 10:34:35',1,'2026-09-06 08:34:35'),(2,2,'FREE KAPE','Pumunta nalang sa shop',90,'Food & Beverage',1,0,'2026-09-07 11:10:04',1,'2026-09-06 09:10:04');
/*!40000 ALTER TABLE `merchant_rewards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `merchants`
--

DROP TABLE IF EXISTS `merchants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `merchants` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `business_name` varchar(255) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `status` varchar(20) DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `contact_number` varchar(50) DEFAULT NULL,
  `permit` varchar(255) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `business_type` varchar(100) DEFAULT NULL,
  `business_address` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `merchants`
--

LOCK TABLES `merchants` WRITE;
/*!40000 ALTER TABLE `merchants` DISABLE KEYS */;
INSERT INTO `merchants` VALUES (1,'Mang Juan Car wash','coffeemotto@gmail.com',NULL,'$2y$10$7VCjBZVNut0fDNJJMthWIuMN7GEmLH/VG.BFWCJzQW.Fv3SmQeWRa','approved','2026-09-06 08:18:45','09692941373','mrch_6a9d21e4ed9158.60343810.jpg','mrch_6a9d21e4edf878.70937559.jpg','Food & Beverage','4510 Santolan Road'),(2,'Coffee Motto','coffeemotto2@gmail.com',NULL,'$2y$10$0bcxAfOnAsUBDmMJOZnLn./bJnyB.6aybYcpJ5BD1OTZt19irYCIC','approved','2026-09-06 09:08:36','09934545678','mrch_6a9d2d94349097.19399425.jpg','mrch_6a9d2d9434f145.29975297.jpg','Food & Beverage','1010 Test');
/*!40000 ALTER TABLE `merchants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_codes`
--

DROP TABLE IF EXISTS `otp_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `otp_codes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(191) NOT NULL,
  `otp_code` varchar(10) NOT NULL,
  `delivery_method` enum('sms','email') DEFAULT 'sms',
  `expires_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_used` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_codes`
--

LOCK TABLES `otp_codes` WRITE;
/*!40000 ALTER TABLE `otp_codes` DISABLE KEYS */;
INSERT INTO `otp_codes` VALUES (1,'lawrence.dhaniel@gmail.com','063385','email','2026-09-05 07:59:47',1,'2026-09-05 07:59:23'),(2,'lawrence.dhaniel@gmail.com','288011','email','2026-09-05 08:30:58',1,'2026-09-05 08:30:43'),(3,'lawrence.dhaniel@gmail.com','450846','email','2026-09-05 10:21:59',1,'2026-09-05 10:21:37'),(4,'lawrence.dhaniel@gmail.com','056525','email','2026-09-05 10:31:56',1,'2026-09-05 10:31:32'),(5,'lawrence.dhaniel@gmail.com','478822','email','2026-09-05 10:43:48',1,'2026-09-05 10:43:30');
/*!40000 ALTER TABLE `otp_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `push_subscriptions`
--

DROP TABLE IF EXISTS `push_subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `push_subscriptions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `endpoint` text NOT NULL,
  `p256dh` varchar(512) NOT NULL,
  `auth` varchar(256) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_endpoint` (`endpoint`(191)),
  KEY `idx_user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `push_subscriptions`
--

LOCK TABLES `push_subscriptions` WRITE;
/*!40000 ALTER TABLE `push_subscriptions` DISABLE KEYS */;
INSERT INTO `push_subscriptions` VALUES (1,7,'https://fcm.googleapis.com/fcm/send/c1tdAZyuDDo:APA91bHtuuxZXd-0P_Ky3YYMgDu9LrmUBW20cQw-mMa2jTqHG1m6RdVFzKV-Vk7XKQ1aluHpDUdrCg07BzL_yeShpJcFasAOohuHKU8mTEte4lO7IgeY2hVZQg_0_AHOJAnO-yyONeOy','BMC6jm7b20tI-By0EFk4JlNtPQDLQxMNga8uhh8hYn2FGXWxmYRnN0XLuzvY3Nm8jzcMe-KW2bz9fr8PR3leyhc','IBTwaVIPVWN6CHY4NF7fYw','2026-09-06 11:14:37');
/*!40000 ALTER TABLE `push_subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report_media`
--

DROP TABLE IF EXISTS `report_media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `report_media` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `report_id` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_type` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `report_id` (`report_id`),
  CONSTRAINT `report_media_ibfk_1` FOREIGN KEY (`report_id`) REFERENCES `reports` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report_media`
--

LOCK TABLES `report_media` WRITE;
/*!40000 ALTER TABLE `report_media` DISABLE KEYS */;
/*!40000 ALTER TABLE `report_media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report_vehicles`
--

DROP TABLE IF EXISTS `report_vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `report_vehicles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `report_id` int(11) NOT NULL,
  `vehicle_type` varchar(50) NOT NULL,
  `plate_number` varchar(20) DEFAULT NULL,
  `vehicle_count` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `report_id` (`report_id`),
  CONSTRAINT `report_vehicles_ibfk_1` FOREIGN KEY (`report_id`) REFERENCES `reports` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report_vehicles`
--

LOCK TABLES `report_vehicles` WRITE;
/*!40000 ALTER TABLE `report_vehicles` DISABLE KEYS */;
INSERT INTO `report_vehicles` VALUES (1,1,'Bicycle',NULL,1),(2,2,'Bicycle',NULL,1),(3,3,'Bicycle',NULL,1);
/*!40000 ALTER TABLE `report_vehicles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports`
--

DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `reference_number` varchar(50) DEFAULT NULL,
  `flow_label` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'pending',
  `is_injured` tinyint(1) DEFAULT NULL,
  `location_address` text DEFAULT NULL,
  `incident_date` date DEFAULT NULL,
  `incident_time` time DEFAULT NULL,
  `has_other_parties` tinyint(1) DEFAULT NULL,
  `weather_condition` varchar(50) DEFAULT NULL,
  `road_condition` varchar(50) DEFAULT NULL,
  `insurance_type` varchar(50) DEFAULT NULL,
  `media_urls` text DEFAULT NULL,
  `event_details` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `flow_type` varchar(50) DEFAULT NULL,
  `location_lat` decimal(10,8) DEFAULT NULL,
  `location_lng` decimal(11,8) DEFAULT NULL,
  `enforcer_type` varchar(50) DEFAULT NULL,
  `enforcer_documented` varchar(20) DEFAULT NULL,
  `emergency_services` text DEFAULT NULL,
  `is_safe` tinyint(1) DEFAULT NULL,
  `other_parties_present` tinyint(1) DEFAULT NULL,
  `damage_category` varchar(100) DEFAULT NULL,
  `admin_notes` text DEFAULT NULL,
  `assigned_enforcer_id` int(11) DEFAULT NULL,
  `resolution_status` varchar(50) DEFAULT 'unresolved',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports`
--

LOCK TABLES `reports` WRITE;
/*!40000 ALTER TABLE `reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rewards`
--

DROP TABLE IF EXISTS `rewards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rewards` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category` varchar(50) DEFAULT NULL,
  `business_name` varchar(100) DEFAULT NULL,
  `reward_name` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `points_required` int(11) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rewards`
--

LOCK TABLES `rewards` WRITE;
/*!40000 ALTER TABLE `rewards` DISABLE KEYS */;
/*!40000 ALTER TABLE `rewards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `points` int(11) DEFAULT 0,
  `account_verified` tinyint(1) DEFAULT 0,
  `role` varchar(20) DEFAULT 'user',
  `avatar` varchar(255) DEFAULT 'default.png',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `reset_token` varchar(64) DEFAULT NULL,
  `reset_expires_at` datetime DEFAULT NULL,
  `verification_status` varchar(20) DEFAULT 'Unverified',
  `verified_at` datetime DEFAULT NULL,
  `verification_method` varchar(50) DEFAULT NULL,
  `verification_reference` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vouchers`
--

DROP TABLE IF EXISTS `vouchers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vouchers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `merchant_id` int(11) DEFAULT NULL,
  `reward_id` int(11) DEFAULT NULL,
  `voucher_code` varchar(50) NOT NULL,
  `status` varchar(20) DEFAULT 'active',
  `expires_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `redeemed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vouchers`
--

LOCK TABLES `vouchers` WRITE;
/*!40000 ALTER TABLE `vouchers` DISABLE KEYS */;
INSERT INTO `vouchers` VALUES (1,6,1,1,'VCH-47C60A-4UKG','redeemed','2026-10-06 10:48:36','2026-09-06 08:48:36','2026-09-06 17:02:14');
/*!40000 ALTER TABLE `vouchers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-06 20:34:15
